body {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

/* indent everything within a section */
section > * {
    margin-left: 30px;
}

/* don't indent the section header */
section > :first-child {
    margin-left: 0px;
}

ul {
    list-style-type: disc;
}

.item-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.item-edit-button {
    background:transparent;
    border:none;
    transition: 0.5s;
    margin: 3px;
  border-radius: 3px;
}

.item-edit-button:hover {
    background: #e0e0e0;
}
